In [6]:
import pandas as pd
name_column1 = "MARA_FERT.MAKTX;;"
name_column2 = 'Products.name;;'
id_column1 = "MARA_FERT.id;id;x"
id_column2 = "Products.id;id;x"
df1 = pd.read_csv('C:/Users/D072202/RData2Graph/rdata2graph/data/sap_hilti_data/MARA_FERT', encoding="ISO-8859-1")
df2 = pd.read_csv('C:/Users/D072202/RData2Graph/rdata2graph/data/sap_hilti_data/Products', encoding="ISO-8859-1")
df1.head()

,V137.id;MBRSH;,T023.id;MATKL;,T179.id;PRDHA;,MARA_FERT.MAKTX;;,MARA_FERT.id;id;x
0,M,000000000,GEDD2ZZ9999,Diamond core DCF 60/350,94
1,M,000000000,GFXV1BD0101,Powder-actuated tool DX 450 HLA,683
2,M,$N0501309,GFXV4AA0101,Fastener guide 45/F2,790
3,M,$T9994722,GEEY3AZ9999,Insert shaft TE-FY-SAS 8-16,1940
4,M,$N0501316,GFXV4AA0101,Baseplate 2/S21,2371

In [7]:
columns_to_merge = [col for col in df1.columns if col not in [id_column1] ]
columns_to_merge

['V137.id;MBRSH;', 'T023.id;MATKL;', 'T179.id;PRDHA;', 'MARA_FERT.MAKTX;;']

In [8]:
x = df1[columns_to_merge[0]].astype(str)
for i in range(1,len(columns_to_merge)):
    x = x + df1[columns_to_merge[i]].astype(str)
x = pd.concat([df1[[id_column1]], x], axis=1, ignore_index=True)
x.columns = [id_column1, name_column1]
x.to_csv(path_or_buf='C:/Users/D072202/RData2Graph/rdata2graph/data/sap_hilti_data/MARA_FERT_flattened',sep=',')
x.head()

   MARA_FERT.id;id;x                                  MARA_FERT.MAKTX;;
0                 94       M000000000GEDD2ZZ9999Diamond core DCF 60/350
1                683  M000000000GFXV1BD0101Powder-actuated tool DX 4...
2                790          M$N0501309GFXV4AA0101Fastener guide 45/F2
3               1940   M$T9994722GEEY3AZ9999Insert shaft TE-FY-SAS 8-16
4               2371               M$N0501316GFXV4AA0101Baseplate 2/S21

In [9]:
columns_to_merge = [col for col in df2.columns if col not in [id_column2] ]
columns_to_merge

['Products.pid;;',
 'Categories.id;cid;',
 'Products.name;;',
 'Products.description;;']

In [10]:
x = df2[columns_to_merge[0]].astype(str)
for i in range(1,len(columns_to_merge)):
    x = x + df2[columns_to_merge[i]].astype(str)
x = pd.concat([df2[[id_column2]], x], axis=1, ignore_index=True)
x.columns = [id_column2, name_column2]
x.to_csv(path_or_buf='C:/Users/D072202/RData2Graph/rdata2graph/data/sap_hilti_data/Products_flattened',sep=',')
x.head()

   Products.id;id;x                                    Products.name;;
0                 1  3490213.023AG500-A22 (5/8")22V cordless angle ...
1                 2  3554719.023AG 600-A36Powerful 36V cordless ang...
2                 3  nan326T W diesW dies for service entrance conn...
3                 4  nan22PR 30-HVSG A12Indoor rotating laser for l...
4                 5  nan326T U dies aluminumU dies for aluminum con...