In [40]:
import pandas as pd

In [51]:
gs = pd.read_csv('C:/Users/D072202/RData2Graph/rdata2graph/data/oaei_data/gold_standard.csv', encoding="UTF-8", header=None, sep='\t', error_bad_lines=True)
dictionary1 = pd.read_csv('C:/Users/D072202/RData2Graph/rdata2graph/data/oaei_data/instanceID-to-verticeID_darkscape.txt', sep="\t", encoding="UTF-8", header=None, error_bad_lines=False)
dictionary2 = pd.read_csv('C:/Users/D072202/RData2Graph/rdata2graph/data/oaei_data/instanceID-to-verticeID_oldschoolrunescape.txt', sep="\t", encoding="UTF-8", header=None, error_bad_lines=False)
gs.head(10)

,0,1,2
0,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0
1,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1
2,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0
3,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1
4,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1
5,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1
6,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0
7,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0
8,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1
9,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1

In [42]:
dictionary1.head()

                        0                                                  1
0            City.demonym  http://rdata2graph.sap.com/darkscape/city.demonym
1  minigame.removalupdate  http://rdata2graph.sap.com/darkscape/minigame....
2    Bonuses.construction  http://rdata2graph.sap.com/darkscape/bonuses.c...
3             quest.voice   http://rdata2graph.sap.com/darkscape/quest.voice
4             prayer.desc   http://rdata2graph.sap.com/darkscape/prayer.desc

In [58]:
import html
def y(x):
    try:
        return html.unescape(x)
    except:
        return x
gs[0] = gs[0].apply(lambda x: y(x))
gs[1] = gs[1].apply(lambda x: y(x))

In [59]:
gs.iloc[44][1]

'http://dbkwik.webdatacommons.org/oldschoolrunescape/resource/Lumbridge_&amp;amp;_Draynor_Diary'

In [60]:
tmp = pd.merge(pd.merge(gs, dictionary1, left_on=[0], right_on=[0], how='left'), dictionary2, left_on=['1_x'], right_on=[0], how='left')
tmp.head()

,0_x,1_x,2,1_y,0_y,1
0,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0,http://rdata2graph.sap.com/darkscape/#3a6cb884...,NaN,NaN
1,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#74cf95a9...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...
2,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0,http://rdata2graph.sap.com/darkscape/#5408f699...,NaN,NaN
3,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#98f250eb...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...
4,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#19b626da...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...

In [45]:
tmp.iloc[44]

0_x    http://dbkwik.webdatacommons.org/darkscape/res...
1_x    http://dbkwik.webdatacommons.org/oldschoolrune...
2                                                      1
1_y    http://rdata2graph.sap.com/darkscape/#9be3b5bc...
0_y                                                  NaN
1                                                    NaN
Name: 44, dtype: object

In [46]:
def postproc(txt):
    txt = str(txt).replace("<","").replace(">","")
    if txt == 'nan':
        txt = 'null'
    return txt

In [47]:
tmp['1_y'] = tmp.apply((lambda row: postproc(row['1_y'])), axis=1)
tmp[1] = tmp.apply((lambda row: postproc(row[1])), axis=1)

In [48]:
tmp.head()

,0_x,1_x,2,1_y,0_y,1
0,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0,http://rdata2graph.sap.com/darkscape/#3a6cb884...,NaN,null
1,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#74cf95a9...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...
2,http://dbkwik.webdatacommons.org/darkscape/res...,NaN,0,http://rdata2graph.sap.com/darkscape/#5408f699...,NaN,null
3,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#98f250eb...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...
4,http://dbkwik.webdatacommons.org/darkscape/res...,http://dbkwik.webdatacommons.org/oldschoolrune...,1,http://rdata2graph.sap.com/darkscape/#19b626da...,http://dbkwik.webdatacommons.org/oldschoolrune...,http://rdata2graph.sap.com/oldschoolrunescape/...

In [49]:
tmp[['1_y',1, 2]].to_csv(path_or_buf='C:/Users/D072202/RData2Graph/rdata2graph/data/oaei_data/gold_standard2.csv', sep='\t', header=False, index=False)

In [39]:
tmp.loc[(tmp['1_y']==str(float('nan'))) & (tmp[1]==str(float('nan')))]['0_x']

Series([], Name: 0_x, dtype: object)